<p>This is the website on which you can get all the dummy apis <a href="https://dummyjson.com/docs/products#products-all" target="_blank">click here to go dummy api's website</a></p>
<div class="container mt-5">
  <input type="text" class="form-control" [(ngModel)]="searchValue" (keyup)="searchProducts()" placeholder="Search Products">
  <br>
  <div class="row">
    <div class="col-12 col-lg-3 my-3" *ngFor="let item of products">
      <div class="card">
        <img [src]="item.thumbnail" class="card-img-top" alt="...">
        <div class="card-body">
          <h5 class="card-title">{{item.title}}</h5>
          <p class="card-text">{{item.description}}</p>
          <a (click)="delete(item.id)" class="btn btn-danger">Delete</a>
        </div>
      </div>
    </div>
  </div>
</div>